{% extends 'adminOut.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>用户列表</span></li>
</ol>
<h3>用户列表</h3>
{%include 'page.html'%}
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>
    {% for u in users %}
    <tr>
        <td>{{u.id.toString()}}</td>
        <td>{{u.userName}}</td>
        <td>{{u.passWord}}</td>
        <td>{%if u.isAdmin%}是{%else%}否{%endif%}</td>
    </tr>
    {% endfor %}
</table>
  {%include 'page.html'%}
{%endblock%}