* {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    height: 100%;
    background-color: #82bbed;
    position: absolute;
    overflow: auto;
    background: url('/public/image/nrbg.gif');
}
header{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 48px;
}
header ul{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header ul li{
    float: left;
    height: 48px;
    list-style: none;
    padding: 0 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
header ul li.act{
    border-color: #ffbd66;
}

.pageWrap {
    width: 90%;
    /* float: left; */
    margin: 0px auto;
    padding: 20px;
}

.pageCon {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slid {
    width: 230px;
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
}

.center {
    width: calc(100% - 500px);
    margin: 0 20px;
    float: left;
}
.center img{
    width: 100%;
}
.center a{
    color: #409EFF;
}
@media screen and (max-width: 500px) {
    .slid{
        display: none;
    }
    .center {
        width: 100%;
        margin: 0 auto;
    }
}

/* 右侧 */
.slidWrap {
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* center 内容列表 */
.item {
    border-bottom: 1px solid #f0f2f7;
    padding: 20px;
    cursor: pointer;
}

.itemTips {
    line-height: 24px;
    color: #15171a;
    font-size: 16px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.itemDate {
    font-size: 14px;
}

/* 内容 */
.conTit{
    text-align: center;
}
.conDate{
    text-align: right;
    font-size: 14px;
}

/* 左侧列表 */
#calendar,#watch{
    float: left;
    overflow: hidden;
    width: 100%;
    height: 230px;
    border-radius: 10px;
}
#watch,.slidWrap{
    background-color: rgb(255, 189, 102);
    position: relative;
}
/* 登录注册显示 */
.slidWrap{
    float: left;
    margin:10px 0;
}
.slidBox{
    width: 90%;
    margin: 0 auto;
}
.slidHead{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    position: relative;
    color: #fff;
}
.slidHead >span{
    float: left;
    padding: 0 5px;
    border-bottom: 2px solid #eddd31;
    position: absolute;
}
.userMsg{
    padding: 5px 0;
}
.userMsg>span{
    color: red;
}
.goAdmin{
    color: blue;
    cursor: pointer;
    padding-bottom: 5px;
}
.goAdmin:hover{
    color: pink;
}
.out{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.out:hover{
    color: red;
}
.iptBox{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}
.iptBox input{
    width: calc(100% - 18px);
    float: left;
    padding: 0 9px;
    border: none;
    outline: none;
    height: 35px;
}
.iptBox input.change::-webkit-input-placeholder {
    color: red;
}
.singUpbtn,
.singInbtn{
    width: 100%;
    line-height: 35px;
    border-radius: 8px;
    background-color: #eddd31;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.dltips{
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
}
.dltips>span{
    color: #fff;
    cursor: pointer;
}