{% extends 'listWrap.html' %}
{% block css%}
<link rel="stylesheet" href="/public/css/monokai-sublime.css">
{% endblock %}
{% block js1%}
<script src="/public/js/highlight.pack.js"></script>
{% endblock %}
{% block main %}
<article class="itemCon">
    <h2 class="conTit">{{content.title}}</h2>
    <p class="conDate">
        <span>{{content.addTime|date('Y-m-d')}}</span><span>·</span><span>{{content.category.name}}</span><span>·</span><span>{{content.user.userName}}</span>
    </p>
    <div class="con">{{content.content|raw}}</div>
</article>
{% block js2%}
<script>
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}
{%endblock%}